<% if flash[:notice] %>
  <div class="notification is-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="notification is-warning">
    <%= flash[:alert] %>
  </div>
<% end %>